/* You can add global styles to this file, and also import other style files */
@media (max-width: 768px) {
    .container {
      width: 90%;
    }
  
    nav a {
      display: block;
      padding: 10px;
    }
  
    .home h1 {
      font-size: 2.5rem;
    }
  
    .about h2 {
      font-size: 2rem;
    }
  
    .project-card {
      width: 90%;
    }
  }
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevents horizontal scrolling */
    
  overflow-y: auto;
  }
  html {
    scroll-behavior: smooth;
  }
    